certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.2
elastic-enterprise-search==7.15.0
elastic-transport==7.15.0
elasticsearch==7.15.0
Flask==2.0.2
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
PyJWT==2.2.0
python-dateutil==2.8.2
requests==2.26.0
six==1.16.0
urllib3==1.26.7
Werkzeug==2.0.2
